body{

    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;

}

#background{

    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#title{
    
    font-family: "Pixelify Sans", sans-serif;
    color: blueviolet;
}

#screen{
    width: 20vw;
    height: 60vh;
    background-color: bisque;
    border: 3px solid blue;
}

#volume{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 2vw;
    background-color: green;
}

#volume-text{
    color: black;
    font-family: sans-serif;
}